# https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: jsonschema-gentypes
        name: Generate Python types based on TypedDict from a JSON schema
        entry: jsonschema-gentypes
        language: python
        # files: |-
        #   (?x)^(
        #     jsonschema-gentypes\.yaml
        #     |jsonschema_gentypes/schema\.json
        #     |jsonschema_gentypes/__init__\.py
        #     |jsonschema_gentypes/cli\.py
        #     |jsonschema_gentypes/api.*\.py
        #     )$
        files: |-
          (?x)^(
            jsonschema-gentypes\.yaml
            |jsonschema_gentypes/schema\.json
            |tests/.*\.json
          )$
        verbose: true
        additional_dependencies:
          - pre-commit==4.0.1 # pypi
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.4.1 # npm
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/sbrunner/hooks
    rev: 1.1.2
    hooks:
      - id: copyright
      - id: poetry-check
        additional_dependencies:
          - poetry==1.8.4 # pypi
      - id: poetry-lock
        additional_dependencies:
          - poetry==1.8.4 # pypi
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        exclude: |-
          (?x)^(
              (.*/)?poetry\.lock
              |tests/openapi3\.json
          )$
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: git-check
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.30.0
    hooks:
      - id: check-github-workflows
      - id: check-jsonschema
        name: Check GitHub Workflows set timeout-minutes
        files: ^\.github/workflows/[^/]+$
        types:
          - yaml
        args:
          - --builtin-schema
          - github-workflows-require-timeout
      - id: check-renovate
        additional_dependencies:
          - pyjson5==1.6.7 # pypi
  - repo: https://github.com/sirwart/ripsecrets
    rev: v0.1.8
    hooks:
      - id: ripsecrets
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
      - id: pyupgrade
        args:
          - --py39-plus
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/prospector
    rev: v1.13.3
    hooks:
      - id: prospector
        args:
          - --tool=pydocstyle
          - --die-on-tool-error
          - --output-format=pylint
        additional_dependencies:
          - prospector-profile-duplicated==1.8.0 # pypi
          - prospector-profile-utils==1.12.2 # pypi
  - repo: https://github.com/sbrunner/jsonschema-validator
    rev: 0.3.2
    hooks:
      - id: jsonschema-validator
        files: |-
          (?x)^(
              ci/config\.yaml
          )$
  - repo: https://github.com/mheap/json-schema-spell-checker
    rev: main
    hooks:
      - id: json-schema-spell-checker
        files: ^jsonschema_gentypes/schema\.json$
        args:
          - --fields=description,title
          - --spelling=.github/spell-ignore-words.txt
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 38.142.5
    hooks:
      - id: renovate-config-validator
