[tool.black]
line-length = 110
target-version = ['py38']

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = false
use_parentheses = true
line_length = 110
known_first_party = "jsonschema_gentypes"

[tool.mypy]
python_version = 3.8
warn_redundant_casts = true
warn_unused_ignores = true
ignore_missing_imports = true
strict = true

[tool.poetry]
name = "jsonschema-gentypes"
version = "0.0.0"
description = "Tool to generate Python types based on TypedDict from a JSON Schema"
readme = "README.md"
authors = ["Camptocamp <info@camptocamp.com>"]
repository = "https://github.com/camptocamp/jsonschema-gentypes"
license = "BSD-2-Clause"
keywords = ["jsonschema", "types"]
packages = [{ include = "jsonschema_gentypes" }]
include = ["jsonschema_gentypes/py.typed", "jsonschema_gentypes/*.json"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Topic :: Software Development :: Code Generators",
    "Typing :: Typed",
]

[tool.poetry.scripts]
jsonschema-gentypes = "jsonschema_gentypes.cli:main"

[tool.poetry.dependencies]
python = ">=3.8,<4"
jsonschema = "4.17.3"
typing-extensions = ">=4.5.0"
requests = "2.28.2"
"ruamel.yaml" = "0.17.21"
pyupgrade = { version = "3.3.1", optional = true }
black = { version = "22.12.0", optional = true }
isort = { version = "5.12.0", optional = true }
pinyin = { version = "0.4.0", optional = true }
romkan = { version = "0.2.1", optional = true }
romanize = { version = "1.0.2", optional = true }
certifi = "2022.12.7"

[tool.poetry.extras]
generate = []
tools = ["black", "isort", "pyupgrade"]
extra = ['pinyin', 'romkan', 'romanize']

[tool.poetry.dev-dependencies]
prospector = { extras = ["with_mypy", "with_bandit", "with_pyroma"], version = "1.9.0" }
pytest = "7.2.1"
pytest-cov = "4.0.0"
types-requests = "2.28.11.15"
types-pyyaml = "6.0.12.8"

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning", "poetry-plugin-tweak-dependencies-version"]
build-backend = "poetry.core.masonry.api"

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
pattern = "^(?P<base>\\d+(\\.\\d+)*)"
format-jinja = """
{%- if env.get("VERSION_TYPE") == "version_branch" -%}
{{serialize_pep440(bump_version(base, 1 if env.get("IS_MASTER") == "TRUE" else 2), dev=distance)}}
{%- elif distance == 0 -%}
{{serialize_pep440(base)}}
{%- else -%}
{{serialize_pep440(bump_version(base), dev=distance)}}
{%- endif -%}
"""

[tool.poetry-plugin-tweak-dependencies-version]
default = "present"
