[tool.black]
line-length = 110
target-version = ['py38']

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = false
use_parentheses = true
line_length = 110
known_first_party = "jsonschema_gentypes"

[tool.mypy]
python_version = 3.8
warn_redundant_casts = true
warn_unused_ignores = true
ignore_missing_imports = true
strict = true

[tool.poetry]
name = "jsonschema-gentypes"
version = "0.0.0"
description = "Tool to generate Python types based on TypedDict from a JSON Schema"
readme = "README.md"
authors = ["Camptocamp <info@camptocamp.com>"]
repository = "https://github.com/camptocamp/jsonschema-gentypes"
keywords = ["jsonschema", "types"]
packages = [{ include = "jsonschema_gentypes" }]
include = ["jsonschema_gentypes/py.typed", "jsonschema_gentypes/*.json"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Topic :: Software Development :: Code Generators",
    "Typing :: Typed",
]

[tool.poetry.scripts]
jsonschema-gentypes = "jsonschema_gentypes.cli:main"

[tool.poetry.dependencies]
python = ">=3.8,<4"
jsonschema = "4.15.0"
requests = { version = "2.28.1", optional = true }
"ruamel.yaml" = "0.17.21"
PyYAML = { version = "6.0", optional = true }
pyupgrade = { version = "2.37.3", optional = true }
black = { version = "22.8.0", optional = true }
isort = { version = "5.10.1", optional = true }
pinyin = { version = "0.4.0", optional = true }
romkan = { version = "0.2.1", optional = true }
romanize = { version = "1.0.2", optional = true }

[tool.poetry.extras]
generate = ['requests', 'PyYAML']
tools = ["black", "isort", "pyupgrade"]
extra = ['pinyin', 'romkan', 'romanize']

[tool.poetry.dev-dependencies]
prospector = { extras = ["with_mypy", "with_bandit", "with_pyroma"], version = "1.7.7" }
pytest = "7.1.3"
pytest-cov = "3.0.0"
types-requests = "2.28.9"
types-pyyaml = "6.0.11"

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning", "poetry-plugin-tweak-dependencies-version"]
build-backend = "poetry.core.masonry.api"

[tool.poetry-dynamic-versioning]
enable = true # disable on Docker
vcs = "git"
pattern = "^((?P<epoch>\\d+)!)?(?P<base>\\d+(\\.\\d+)*)"

[tool.poetry-plugin-tweak-dependencies-version]
default = "present"
