c2cciutils==1.2.6
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
pip==22.3.1
pyOpenSSL==22.1.0
protobuf>=3.18.3 # not directly required, pinned by Snyk to avoid a vulnerability
